# This workflow will build a Java project with Maven and Docker

name: Java CI with Maven and Docker in macOS

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 7 * * 0"

jobs:
  build:
    runs-on: macos-13

    name: Build in macOS
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: 'temurin'
    - name: Install Docker
      uses: docker/setup-docker-action@v4.3.0
      with:
        set-host: true
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build with Maven
      run: mvn package
      working-directory: com.examples.hellodockernet
    - name: Test with Docker
      run: mvn verify -Pdocker
      working-directory: com.examples.hellodockernet
    - name: Test with Docker Compose
      run: mvn verify -Pdocker-compose
      working-directory: com.examples.hellodockernet
