version: "2.1"

services:
  app:
    image: java-mongo-hello-java
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - my-network

  mongodb:
    image: mongo:5
    networks:
      my-network:
        aliases:
          - mongodb
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/127.0.0.1/27017'"]
      interval: 1s
      timeout: 3s
      retries: 30
      start_period: 0s

networks:
  my-network:
    driver: bridge
