version: "2.1"

services:
  app:
    image: java-mongo-hello-java
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - my-network

  mongodb:
    image: mongo:5
    networks:
      my-network:
        aliases:
          - mongodb
    healthcheck:
      test: ["CMD-SHELL", "echo 'db.runCommand(\"ping\").ok' | mongosh --quiet mongodb://mongodb:27017/admin | grep 1"]
      interval: 1s
      timeout: 3s
      retries: 30
      start_period: 0s

networks:
  my-network:
    driver: bridge
