version: "2.1"

services:
  app:
    image: java-mongo-hello-java
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - my-network

  mongodb:
    image: mongo:5
    networks:
      my-network:
        aliases:
          - mongodb
    healthcheck:
      test:
        - CMD
        - mongosh
        - --quiet
        - mongodb://localhost:27017/admin
        - --eval
        - "quit(db.runCommand({ ping: 1 }).ok ? 0 : 1)"
      interval: 1s
      timeout: 10s
      retries: 30
      start_period: 0s

networks:
  my-network:
    driver: bridge
